/**
 * This file contains CSS tweaks required for the cloud portal.
 */

/*
 * Make control-label and control-container behave like col-sm-3 and col-sm-9
 * when inside a form-horizontal
 */
.form-horizontal .control-label, .form-horizontal .control-container {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px) {
    .form-horizontal .control-label { width: 25%; float: left; }
    .form-horizontal .control-container { margin-left: 25%; width: 75%; float: left; }
    /* When the control-container follows a control-label, remove the margin */
    .form-horizontal .control-label + .control-container { margin-left: 0; }
}

/* CSS for banners - they are better than alerts as they are flat */
.banner {
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.banner-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.banner-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.banner-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.btn:focus {
    outline: none;
}

.modal-vertical-center.modal.in .modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    top: 50%;
    transform: translateY(-50%);
}

.loading-notice {
    margin: 100px auto;
    text-align: center;
}

.table > tbody > tr > td {
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;

    vertical-align: middle;
}

.table .progress, .table .control-label {
    margin-bottom: 0;
}
.table .progress-bar {
    padding: 0 10px;
}

@media (max-width: 768px) {
    .table-responsive {
        margin-top: 10px;
    }
}

caption {
    caption-side: bottom;
    padding: 8px 15px;
    border-top: 2px solid #ddd;
}

.machine-actions {
    text-align: right;
    min-width: 180px;
}
.machine-working {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 22px;
    margin-right: 3px;
}
.machine-status {
    font-weight: bold;
}
.machine-status .tooltip-trigger {
    color: inherit;
    cursor: help;
}
.ip-list {
    list-style-type: none;
    margin: 0;
    padding:0;
}

.volumes-table, .volume-add-form .table {
    margin-bottom: 0;
}
.volumes-table td:nth-child(1), .volume-add-form .control-label {
    white-space: nowrap;
}
.volume-add-form td:nth-child(2) {
    width: 99%;
}
.volume-add-form .input-group {
    width: 100%;
}

.quotas-modal .loading-notice {
    margin: 40px auto;
}
.quotas {
    margin-bottom: 0;
}
.quotas dd {
    margin-bottom: 5px;
}
.quotas dd:last-child {
    margin-bottom: 0;
}
.quotas .progress {
    margin-bottom: 0;
}
